@import './globals/_variables'
@import './globals/document'

.day
  &.perch
    background-color: rgba(204,102,255,0.5);

  &.consulting
    background-color: rgba(0,153,0,0.5);

  &.administrative
    background-color: rgba(102,153,255,0.5);
